# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ludum-dare-48.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\unity\ludum-dare-48\.idea\.idea.ludum-dare-48\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
